matplotlib
scikit-learn
tqdm
rouge
numpy
razdel
nltk
summa
sumy
lexrank
#https://download.pytorch.org/whl/torch_stable.html  # see pytorch.org for installation
#https://github.com/huggingface/transformers  # see transformers installation from source
